.App {
	/*text-align: center;*/
}

.App-link {
	color: #61dafb;
}

#root, .App {
	height: 100%;
}

.container {
	padding: 10px 20px;
	min-height: 100%;
}

#main {
	background-color: white;
}

#footer {
	padding: 1em 0em;
}

#footer-container {
	background-color: white;
}


